{
  "extends": ["airbnb-base", "plugin:security/recommended", "plugin:node/recommended"],
  "plugins": ["node", "security", "prettier"],
  "rules": {
    "arrow-parens": 0,
    "comma-dangle": 0,
    "no-await-in-loop": 0,
    "no-confusing-arrow": 0,
    "no-underscore-dangle": 1,
    "class-methods-use-this": 0,
    "max-len": ["error", 140, 2, { "ignoreStrings": true }],
    "object-curly-newline": ["error", { "consistent": true }],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 140
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  }
}
